# This section of the file will have significant overlap with .gitignore
# with the major difference that .vscodeignore cannot anchor to the root
# of the repo. Hence 'bin/' ignores _all_ directories named 'bin'.
bin/
node_modules/
out/
*.code-workspace
*.vsix

# A static snapshot of what constitutes the extension. Exclude this from
# the extension itself.
manifest.txt

# This section is more specific to the extension itself
*.go
*.cue
eslint.config.mjs
.vscode-test.mjs
launch.json
.vscode
**/*.map
src/test
esbuild.js
tsconfig.json
